@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("3436.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu ul {
  display: inline-flex;
  margin: 3.125rem;
}

.menu ul li {
  list-style: none;
  margin: 0 1.25rem;
  color: #f7ecff94;
  cursor: pointer;
}

.logo img {
  width: 2rem;
  margin-top: -0.7rem;
  margin-right: 2rem;
}

.active {
  color: #ecd3ff !important;
}

.login-btn {
  top: 2.45rem;
  right: 5rem;
  position: absolute;
  text-decoration: none;
  color: #ecd3ff;
  border: 0.1250rem solid transparent;
  border-radius: 1.25rem;
  background-image: linear-gradient(transparent, #0009), radial-gradient(circle at top left, #8b00ff, transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.login-btn span {
  display: block;
  padding: 0.3rem 1rem;
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 7.5rem;
  position: absolute;
  color: #ecd3ff;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 2.5rem;
  width: 95%;
  position: relative;
  margin-left: 2.5rem;
}

.app-text p {
  font-size: 1rem;
  width: 90%;
  position: relative;
  margin: 2rem 0 2rem 3rem;
  line-height: 1.5rem;
  color: #f7ecff94;
}

.play-btn {
  margin-left: 3rem;
  display: inline-flex;
}

.play-btn-inner {
  height: 4rem;
  width: 4rem;
  border: 0.1250rem solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(transparent, #0009), radial-gradient(circle at top left, #8b00ff, transparent);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
}

.play-btn-inner .fa {
  padding: 1.25rem 1.35rem;
  font-size: 1.2rem;
  cursor: pointer;
}

small {
  margin: auto 1.25rem;
  cursor: pointer;
  font-size: 1rem;
  color: #eee;
  letter-spacing: 0.5rem;
}

.quick-links {
  left: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #db1bf6, #19d7f8);
}

.quick-links ul {
  display: inline-flex;
  margin: 1rem auto;
  text-align: center;
}

.quick-links ul li {
  list-style: none;
  margin: 0 2.5rem;
  cursor: pointer;
}

.quick-links ul li .fa {
  font-size: 1.5rem;
  color: #ecd3ff;
}

.quick-links ul li p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #ecd3ff;
}

.social-icons {
  position: absolute;
  bottom: 2rem;
  right: 6rem;
}

.social-icons li {
  list-style: none;
  margin-top: 1.2rem;
  text-align: center;
}

.social-icons li a {
  color: #ecd3ff;
  border-radius: 50%;
  border: 1px solid #ecd3ff;
  display: block;
  padding: 0rem 1.5rem 1rem 0rem;
}

.social-icons li a>i {
  text-align: center;
  display: inline-block;
  position: relative;
  translate: 75% 50%;
}
